<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>With the USMNT idle this February, coach Mauricio Pochettino and his staff hit the road</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>With the USMNT idle this February, coach Mauricio Pochettino and his staff hit the road</h1>
    <img src="https://a57.foxsports.com/statics.foxsports.com/www.foxsports.com/content/uploads/2025/02/647/364/poch1.jpg?ve=1&tl=1" alt="Image Description">
    <p>Just because the next game for the U.S. men's national team is still more than a month away doesn't mean that the program is idle.

        It's quite the opposite, in fact.
        
        After a whirlwind first few months in charge for coach Mauricio Pochetttino — the former Chelsea, PSG and Tottenham Hotspur manager 
        was hired in September, debuted in October, oversaw his first competitive games in November and last month convened a two-week-long 
        training camp for MLS players that ended with a pair of exhibition wins — he and his staff have been busy scouting players ahead of 
        the crucial March 20 Concacaf Nations League semifinal versus Panama in Los Angeles.</p>

        <h3>England, Germany on the itinerary this month</h3>
        <p>Two weeks ago, Pochettino's three top assistants fanned out across England. Jesús Perez, the Argentine's chief deputy, 
            visited Premier Leaguers Tyler Adams at Bournemouth, Antonee Robinson at Fulham and Crystal Palace duo Chris Richards and Matt Turner. 
            Perez also met with their managers. </p>
            
    <a href="/">Back to main page</a>
</body>
</html>
