<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Champions League: 10-man AC Milan eliminated, Club Brugge completes shocker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Champions League: 10-man AC Milan eliminated, Club Brugge completes shocker</h1>
    <img src="https://a57.foxsports.com/statics.foxsports.com/www.foxsports.com/content/uploads/2025/02/647/364/pulisic1.jpg?ve=1&tl=1" alt="AC Milan">
    <p>Bayern Munich, Benfica, Club Brugge and Feyenoord all advanced on Tuesday to the UEFA Champions League round of 16, with the final four spots to be determined on Wednesday. </p>

    <p>Here are the biggest takeaways from Tuesday's four decisive knockout phase playoff second legs.</p>
    <h3>Hernández's silly red card dooms AC Milan</h3>
    <p>The seven-time European champions were forced to settle for a 1-1 tie on Tuesday with Dutch club Feyenoord after
         French star Theo Hernández was shown a red card early in the second half. Milan — which started U.S. men's national 
         team standouts Christian Pulisic and Yunus Musah on Tuesday — dropped the opening game of the two-match, total-goals-wins 
         home-and home series 1-0 last week in the Netherlands. With a 2-1 win on aggregate, Feyenoord advanced to the round of 16.</p>

         <p>All was well for the Rossoneri during the second leg at the San Siro when Pulisic helped set up Mexican national teamer (and former Feyenoord forward)
             Santiago Giménez, who put Milan up 1-0 less than a minute into the match. But Argentine striker Julián Carranza, who joined Feyenoord from the 
             Philadelphia Union of MLS last summer, came off the bench in the second half and pulled the visitors level 22 minutes after Hernandez's dismissal had reduced the hosts to 10 men.</p>
    <a href="/">Back to main page</a>
</body>
</html>
